{% extends "denuncias/pagina_denuncias.html" %}

{% load static %}
{% block contenido %}
<head>
     <link href="{% static 'css/perro.css' %}" rel="stylesheet">
</head>

<body>
    
      
 
    <!-- <div class="container">
        <ul>
            <li><strong>codigo de perro:</strong> {{perro.id}}</li>
            <li><strong>Imagen</strong> {{perro.imagen_mascota}}</li>
            <li><strong>Nombre:</strong> {{perro.nombre}}</li>
            <li><strong>Raza:</strong> {{perro.raza}}</li>
            <li><strong>edad</strong> {{perro.edad}}</li>
            <li><strong>vacunas:</strong> {{perro.vacunas}}</li>
            <li><strong>disponible para adopcion:</strong> {{perro.estado}}</li>
            <li><strong>descripccion</strong> {{perro.descripcion}}</li>
        </ul>
        <hr><br>
        <ul>
            <li><a href="{% url 'registrar_solicitud' perro.id %}">Solicitar para adopcion</a></li>
        </ul>
    </div> -->
<div class="container">
    <div class='container2'>
        <div class='background-element' id='background-element'>
        </div>
        <div class='highlight-window' id='product-img'>
            {% if perro.imagen_mascota %}
          
            <img src="/media/{{perro.imagen_mascota}}" alt="{{perro.imagen_mascota}}" class="img-fluid"  style="width: 100%;" >
             
            {% else %}
            <img class="img-fluid rounded-top" src="{% static 'img/albergue1.png ' %}"   alt="">
            {% endif %}


        
            
            <div class='highlight-overlay' id='highlight-overlay'></div></div>
        <div class='window'>
          <div class='main-content'>
            <h2 style="text-align: center;">  {{perro.nombre}}</h2>
            <hr>
            <h3>Raza </h3>{{perro.raza}}
            <h3>Edad </h3>{{perro.edad}}
        <div class='description' id='description'>
<h3>
    Descripcion  
</h3> {{perro.descripcion}}
      
        
        </div>
            <div class='highlight-window  mobile' id='productimg'>
                
                {% if perro.imagen_mascota %}
          
                <img src="/media/{{perro.imagen_mascota}}" alt="{{perro.imagen_mascota}}" class="img-fluid"  style="width: 100%;" >
                 
                {% else %}
                <img class="img-fluid rounded-top" src="{% static 'img/albergue1.png ' %}"   alt="">
                {% endif %}
    
    
                
                <div class='highlight-overlay' id='highlight-overlay-mobile'></div></div>
            <div class='options'>
              <div class='color-options'>
            <h3>
                vacunas   </h3>             {{perro.vacunas}}
            <div class='color-picker'>
          
       


            </div>
              
              </div>
              <div class='size-picker' style="text-align: center;">
            <h3>
                Disponibilidad
            </h3>  
        <div class='range-picker' id='range-picker'>
            {% if perro.estado is True %}
                  Quiere ser Adoptado 
            
           
            {% endif %}
        </div>
               
              </div>  
          </div>
                  <div class='divider'></div>
      
                <div class='purchase-info'>
            <div class='price'>
                
                {% if user.is_authenticated %}
   
          
              <a href="{% url 'editar_perro' perro.id %}">
                <div class="btn btn-secundario">

                    Editar perro
                </div>  
           
            
            </a>
                {% endif %}
          
            
            </div>
           <a href="{% url 'registrar_solicitud' perro.id %}">
               
            <button>Adoptar</button>
        
        </a>
                
          </div>
          </div>
        </div>
      </div>
</div>

<script>
    document.getElementById('range-picker').addEventListener('click', function(e) {
  var sizeList = document.getElementById('range-picker').children;
  for (var i = 0; i <= sizeList.length - 1; i++) {
    console.log(sizeList[i].classList);
    if (sizeList[i].classList.contains('active')) {
      sizeList[i].classList.remove('active');
    }
  }
  e.target.classList.add('active');
})

document.getElementById('color-a').addEventListener('click', function() {
  document.getElementById('color-overlay').style.transform = 'translateX(-0.5px)';
  document.getElementById('background-element').style.backgroundColor = '#333';
  document.getElementById('highlight-overlay').style.opacity = '1';
  document.getElementById('highlight-overlay-mobile').style.opacity = '1';
  document.getElementById('color-name').innerHTML = "BLACK / 050";
  document.getElementById('color-name').style.color = '#333'

})
document.getElementById('color-b').addEventListener('click', function() {
  document.getElementById('color-overlay').style.transform = 'translateX(45px)';
  document.getElementById('background-element').style.backgroundColor = '#457';
  document.getElementById('highlight-overlay').style.opacity = '0';
  document.getElementById('highlight-overlay-mobile').style.opacity = '0';
  document.getElementById('color-name').innerHTML = "BLUES / 2V5";
  document.getElementById('color-name').style.color = '#457'
})
</script>
</body>
{% endblock contenido %}