{% extends "denuncias/pagina_denuncias.html" %}
{% load static %}
{% block titulo %} Informacion {% endblock %}
{% block contenido %}

<body>
 <!-- Hero Start -->
 <div class="container-fluid color1 py-5  mb-5">
    <div class="row py-3" >
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Quienes Somos</h1>
         
        </div>
    </div>
</div>

<div class="container">
<!-- Titulo de la seccion  -->
<div class="row" style="margin-top: 5%;" >
    <div class="col-md-12 heading" style="padding-left: 5%;padding-top: 2%;padding-bottom: 5%;background-color: white;">
        <span class="title-icon pull-left"><i class="fas fa-hand-holding-heart" aria-hidden="true"></i></span>
        <h2 class="title">Mision - Vision  <span class="title-desc"> Voluntariado Sabia   </span></h2>
    </div>
  </div><!--fin del titulo  -->  
  
 <!-- Testimonial Start -->
 
 <div class="container">
    <div class="row">
        <div class="col-lg-7">

            <div  class="col-lg-12"  >
                <div class="card2 col" >
                    <div class="card-content">
                        <div class="card-body"  >   
        
                            <h4 style="color:rgb(44, 68, 48);text-align: center;">Quienes Somos </h4>
                            <div class="shadow"></div>
             
                            <div class="card-subtitle">
                                <p style="color:rgb(44, 68, 48)"> Donaiones Usando tu cartera electroinica virtual , Paypal  siendo una 
        
                                    alternativa en pocos pasos si ya tienes tu cuenta en paypal , puedes hacer las donaciones 
                                    directamentes </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <hr>
                <div class="col-lg-12">
                <div class="card2 col" >
                    <div class="card-content">
                        <div class="card-body">       
                            <h4 style="color:rgb(44, 68, 48);text-align: center;">Mision </h4>
                            <div class="card-subtitle">
                                <p  style="color:rgb(44, 68, 48)"> 		Donaciones en efectivo
                                    Si quieres donar directamente a una cuenta bancaria del Albergue
                                     SABIA  para contribuir a cubrir a la sostenibilidad de 
                                     nuestra obra social, puedes hacer una transferencia o depósito a 
                                     las siguientes cuentas bancarias:</p>

                                 
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <hr>

                <div class="col-lg-12">
                <div class="card2 col">
                    <div class="card-content">
                        <div class="card-body">           
        
                            <h4  style="color:rgb(44, 68, 48); text-align: center;">Vision</h4>
                            <div class="card-subtitle">
                                <p  style="color:rgb(44, 68, 48)">Puedes agilizar la recuperacion de nuestras mascotas donando , camas , ropa , comida  </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              

            </div>
     
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100" > 
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/fondovoluntario.jpg ' %}" style="object-fit: cover">
                </div>
            </div>
    </div>
    
    </div>

  
<!-- Testimonial End -->
<!-- Titulo de la seccion  -->
<div class="row" style="margin-top: 5%;" >
    <div class="col-md-12 heading" style="padding-left: 5%;padding-top: 2%;padding-bottom: 5%;background-color: white;">
        <span class="title-icon pull-left"><i class="fas fa-hand-holding-heart" aria-hidden="true"></i></span>
        <h2 class="title">Grupo Sabia   <span class="title-desc"> Voluntariado Sabia   </span></h2>
    </div>
  </div><!--fin del titulo  -->  
  
  <!-- Team Start -->
  <div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                  
                    <h1 class="display-6 mb-4">Contamos con Voluntariado Internacional </h1>
                    <a href="appointment.html" class="btn btn-primary py-3 px-5">Conocer Mas</a>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative rounded-top" style="z-index: 1;">

                     


                        <img class="img-fluid rounded-top w-100" src="{% static 'img/dueño.jpg ' %}" alt="">
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Fausto Subia  </h4>
                        <p class="text-primary mb-0">Administrador Sabia </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="position-relative rounded-top" style="z-index: 1;">
                        <img class="img-fluid rounded-top w-100" src="{% static 'img/dueño.jpg ' %}" alt="">
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Cristian Acosta </h4>
                        <p class="text-primary mb-0">Administrador Sabia </p>
                    </div>
                </div>
            </div>
          
        
          
        </div>
    </div>
</div>
<!-- Team End -->
  

</div>

</body>
{% endblock contenido %}