
{% extends "voluntarios/pagina_voluntario.html" %}
{% load static %}
{% block contenido %}
<style>

.containerNoticia{
/* background-image: url('/static/img/banner2.png');
background-position: center; /* Center the image */
/* background-repeat: no-repeat; /* Do not repeat the image */
/* background-size: cover;  */
   background: linear-gradient(rgba(255,255,255,255), rgba(255,255,255,0.1)), url('/static/img/Fondo_casaSabia.webp') center center no-repeat;
    background-size: cover;
}
</style>

<!--
<div class="login-div" data-title="Hello" data=intro="This is a login form">

<button class="tuto1" data-title="Hey" data-intro="This is a login button">Login</button>
-->



  <!-- Project Card Example -->

</div>
<div class="container containerNoticia">
<p style="width:100%;height:500px;text-align:center;">En bien de la proteccion canina  </p>

</div>


{% endblock contenido %}
    